# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform lock file (OPTIONAL – usually commit this)
# .terraform.lock.hcl

# Environment files
.env

# Editor / OS junk
.vscode/
.DS_Store
